/* ================================== */
/* TRANSFORM: TRANSLATE */
/* ================================== */
/* p {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}

p.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

p.move-down {
    background-color: #f1c40f;
    transform: translateY(20px);
}

p:hover {
    transform: translate(20px, 20px);
} */

/* ================================== */
/* TRANSFORM: SCALE */
/* ================================== */

p {
    background-color: #1abc9c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
    width: 50px;
    height: 50px;
}

.transformed {
    background-color: #3498db;
    transform:scale(2);
    /* transform:scaleX(4); */
    /* transform:scaleY(5); */
    /* transform:scale(3,5); */
    transform-origin:0 0; /* sets the starting coordinates   (same as left top) */

}
