/* ================================== */
/* TRANSFORM: TRANSLATE */
/* ================================== */
/* p {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}

p.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

p.move-down {
    background-color: #f1c40f;
    transform: translateY(20px);
}

p:hover {
    transform: translate(20px, 20px);
} */



/* ================================== */
/* TRANSFORM: SCALE */
/* ================================== */

/* p {
    background-color: #1abc9c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
    width: 50px;
    height: 50px;
}

.transformed {
    background-color: #3498db;
    transform:scale(2);
    transform:scaleX(4); 
    transform:scaleY(5); 
    transform:scale(3,5); 
    transform-origin:0 0; sets the starting coordinates   (same as left top) 
} */



/* ================================== */
/* TRANSFORM: SCALE */
/* ================================== */
/* p {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
}

.transformed {
    /* starting origin is the center point 
    /* background-color: #9b59b6;
     to use multiple transform effects, you have to write them in the same statement, 
    otherwise the first will be canceled out by the second */
    /* transform: rotate(45deg); 
               /* scale(0.5); 
    /* sticks a 'pin' and is the pivot point */
    /* transform-origin: center; 
 } */

/* ================================== */
/* TRANSITION-DURATION  && 
   TRANSITION-PROPERTY */
/* ================================== */

.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

.animated {
    transition-property: background-color, border-radius;
    transition-duration: 5s, 1s;
}

.box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    border-radius: 50px;
}
